body, html {
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'Inter', sans-serif;
    color: #55899c;
 
}

nav {
    padding: 1%;
    margin-right: 20px;
    margin-top: -10px;
}

nav li {
    /* display: inline-block; */
    display: inline;
    float: right;
    padding: 1% 1% 0 0;
    cursor: pointer;
    font-size: 20px;
    /* background-color: aliceblue; */
}

#top {
    position: relative;
    background-color: #80cfec;
    height: 600px;
    border-bottom-left-radius: 10em;
}

#bottom-corner {
    background-color: #eccc80;
    color: #eccc80;
    display: block;
    height: 200px;
    width: 200px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.but1{
    border: none;
    border-radius: 20px;
    background-color: #1e7a9c5c;
    width: 350px;
    height: 120px;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.a1{
    color: #0b3e51d0;
    
}

#top h1 {
    width: 100%;
    text-align: center;
    position: relative;
    top: 200px;
    font-weight: 800;
    font-size: 70px;
}

#bottom {
    position: relative;
    height: 600px;
    background-color: #eccc80;
    border-top-right-radius: 10em;
}


#top-corner {
    background-color: #80cfec;
    color: #80cfec;
    display: block;
    height: 200px;
    width: 200px;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
 }